*.pyc
*.pem
*.pub
*.tar.gz
*.zip
secrets.txt
./tmp
./build/*
.idea/*
.idea
.log
.env
env/*
__pycache__/
*.bin
*.safetensors
ml/svm/sentiment/*
ml/svm/intent/*
ml/indobert/sentiment/*
ml/indobert/intent/*