    <!-- ======= Services Section ======= -->
    <section id="how" class="services section-bg">
        <div class="container">
  
          <div class="section-title" data-aos="fade-up">
            <h2>Langkah Analisis</h2>
            <p>Langkah analisis sentimen secara umum adalah sebagai berikut.</p>
          </div>
  
          <div class="row">
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="icon-box">
                  <div class="icon"><i class="bi bi-wechat"></i></div>
                  <h4 class="title"><a href="">Pengumpulan Data</a></h4>
                  <p class="description">
                      Pertama data teks yang akan dianalisis dikumpulkan, bisa berupa data opini yang bersumber dari media sosial, ataupun ulasan produk pada situs e-commerce.
                  </p>
                </div>
              </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box">
                  <div class="icon"><i class="bi bi-database-fill-gear"></i></div>
                  <h4 class="title"><a href="">Preprocessing</a></h4>
                  <p class="description">
                    Selanjutnya dataset yang telah terkumpul dibersihkan dengan memperbaiki kesalahan ejaan, menghapus tanda baca, kata-kata penghubung, dan menyeragamkan huruf menjadi huruf kecil atau kapital.
                  </p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="icon-box">
                  <div class="icon"><i class="bi bi-box"></i></div>
                  <h4 class="title"><a href="">Modeling</a></h4>
                  <p class="description">
                    Model merupakan acuan untuk pengklasifikasikan sentimen. Model bisa berupa kamus sentimen yang dibuat untuk menggambarkan sentimen ataupun model machine learning yang telah ditraining menggunakan algoritma tertentu.
                  </p>
                </div>
              </div>
            
            <div class="col-lg-2" data-aos="fade-up"></div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-boxes"></i></div>
                <h4 class="title"><a href="">Klasifikasi</a></h4>
                <p class="description">
                    Mesin kemudian mengklasifikasikan data yang dinilai sebagai opini dari sebuah teks menggunakan model yang telah dibuat, bisa berupa model Machine Learning, kamus leksikon maupun campuran keduanya.
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-pie-chart-fill"></i></div>
                <h4 class="title"><a href="">Visualisasi</a></h4>
                <p class="description">
                    Setelah dilakukan klasifikasi sentimen selanjutnya informasi disajikan menggunakan bagan seperti grafik, histogram, matriks ataupun <i>wordcloud</i> sesuai kebutuhan
                </p>
              </div>
            </div>
        </div>            
  
        </div>
      </section><!-- End Services Section -->