    <!-- ======= Why Us Section ======= -->
    <section id="why" class="why-us">
        <div class="container">
  
          <div class="row">
            <div class="col-xl-4 col-lg-5" data-aos="fade-up">
              <div class="content text-center">
                <h3>Latar Belakang</h3>
                <p>
                  Dalam era digital yang semakin maju saat ini, internet telah memainkan peran yang penting dalam memfasilitasi kebebasan berpendapat di masyarakat.
                  Melalui internet, seseorang dapat mengungkapkan pandangan mereka tentang berbagai topik seperti politik, sosial, budaya, dan lingkungan. 
                  Mereka dapat melontarkan kritik, memberikan saran, dan menyampaikan pemikiran yang mungkin berbeda dengan pemikiran mayoritas.
                  Mengidentifikasi tren dan pola dalam opini publik, dapat berguna dalam pengambilan keputusan, perencanaan strategis, dan pembuatan kebijakan.
                  Sentiment Analysis atau analisis sentimen, dikenal juga sebagai Opinion Mining, adalah teknik  
                  pemrosesan bahasa alami (NLP) yang digunakan untuk mengidentifikasi, mengekstrak dan memahami 
                  sentimen atau emosi yang terkandung dalam suatu teks. Teknik ini dapat membantu memahami bagaimana 
                  publik merespon suatu produk, layanan, brand atau isu tertentu, serta membantu dalam memonitor dan 
                  menangani kritik atau keluhan yang muncul di media sosial.
                </p>
              </div>
            </div>
            <div class="col-xl-8 col-lg-7 d-flex">
              <div class="icon-boxes d-flex flex-column justify-content-center">
                <div class="row">
                  <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box mt-4 mt-xl-0">
                      <i class="bx bx-like"></i>
                      <h4>Memberikan wawasan yang objektif</h4>
                      <p> 
                        Individu dalam menanggapi suatu opini biasanya sangat subjektif, dipengaruhi oleh pengalaman, pemikiran, dan keyakinan pribadi.
                        Dengan menggunakan analisis sentimen, dapat diterapkan suatu kriteria tertentu, sehingga
                        membantu meningkatkan akurasi dan mendapatkan wawasan yang lebih objektif.
                      </p>
                    </div>
                  </div>
                  <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box mt-4 mt-xl-0">
                      <i class="bx bx-data"></i>
                      <h4>Menganalisis data dalam skala besar</h4>
                      <p>
                        Semakin besar suatu bisnis, maka akan semakin banyak data tidak terstruktur seperti email, survei, ulasan produk, sampai keluhan pelanggan yang perlu ditangani.
                        Analisis sentimen mampu memproses data berukuran besar dan tidak terstruktur tersebut secara lebih cepat, lebih efisien, dan lebih hemat biaya.
                      </p>
                    </div>
                  </div>
                  <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon-box mt-4 mt-xl-0">
                      <i class="bx bx-trending-up"></i>
                      <h4>Meningkatkan kualitas produk dan layanan</h4>
                      <p>
                        Analisis sentimen dapat membantu untuk memahami apa yang dirasakan oleh konsumen terhadap produk atau jasa yang ditawarkan, sehingga dapat membantu dalam membuat keputusan strategis yang lebih baik untuk meningkatkan kualitas produk dan layanan.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- End Why Us Section -->